@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100vh;
}

body {
    display: grid;
    place-items: center;
    background: #000;
}

.text {
    font-family: 'Poppins', sans-serif;
    font-size: 150px;
    font-weight: 800;
    text-transform: uppercase;
    display: inline-block;

    background-image: linear-gradient(135deg,
            #5335cf 0%,
            #de005e 25%,
            #f66e48 50%,
            #de005e 75%,
            #5335cf 100%);
    background-size: 400% 100%;
    background-position: 0% 0%;
    background-repeat: no-repeat;

    color: #fff;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;

    animation: animate 10s linear infinite;
}

@keyframes animate {
    100% {
        background-position: 400%;
    }
}